@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  box-sizing: inherit;
  font-family: 'Epilogue', sans-serif;
}
body{
  overflow-x: hidden;
}
.flex{
  display: flex;

}
img{
  max-width: 100%;
}
.img-desktop{
  display: none;
}
.main-img img{
  max-height: 70vh;
  width: 100vw;
  margin: 0 auto;
}
a,.btn,p{
  color:  var(--Medium-Gray);
  font-size: clamp(1.6rem,1.5vw,1.8rem);
  font-weight: 500;
}
a:hover{
  color: var(--Almost-Black);
}
h1{
  font-size: clamp(3.5rem,6.5vw,8rem);
  font-weight: 700;
  color: var(--Almost-Black);
}
p{
  line-height: 1.8;
  font-size: clamp(1.6rem,2vw,2rem);
}
h1,p{
  margin-bottom: clamp(3.5rem,5vw,6rem);
}
.hidden{
  display: none;
}
/* NAV SECTION */
.nav{
  width: clamp(30rem,90%,140rem);
  margin: clamp(1.5rem,2vw,2.5rem) auto  clamp(4rem,4.5vw,5rem); 
  justify-content: space-between;
  align-items: center;
}
.menu{
  position: relative;
  width: 10%;
  cursor: pointer;
}
.open-menu,.close-menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}
.box{
  padding: 11rem 3rem;
  background-color:#fff;
  position: absolute;
  top: 0;
  right: -100%;
  width: 60%;
  height: 100%;
  z-index: 2;
  transition: right 1s;
}

.menu-links{
  gap: clamp(2.5rem,2.7vw,3rem);
  margin-bottom: clamp(5rem,5.5vw,6rem);
}
.dropdown .flex{
  gap: clamp(1rem,1.2vw,1.5rem);


}
 .links{
  max-height: 0;
  opacity: 0;
  transition: all 800ms;
  overflow: hidden;
  
}
.show-links .links-1{
  opacity: 1;
  padding:  clamp(3rem,3vw,3.2rem) clamp(2rem,2.2vw,2.5rem) 0;
  max-height: 20rem;

  transition: all 800ms ;
}
.show-links .links-2{
  padding:  clamp(3rem,3vw,3.2rem) clamp(2rem,2.2vw,2.5rem) 0;
  max-height: 15rem;
  opacity: 1;

  transition: all 800ms;
}
.arrow-down{
  transform: rotate(0);
  transition: all 800ms;
}
.show-links .arrow-down{
  transform: rotate(180deg);
  transition: all 800ms;
}
.todo-list::before{
  content: url(./images/icon-todo.svg);
}
.calendar::before{
  content: url(./images/icon-calendar.svg);
}
.reminders::before{
  content: url(./images/icon-reminders.svg);
}
.planning::before{
  content: url(./images/icon-planning.svg);
}
.todo-list::before,
.calendar::before,
.reminders::before,
.planning::before{
  padding-right: 1rem;
}

.btn{
  border: none;
  background-color: #fff;
  display: block;
 width: 100%;
  padding: clamp(1.2rem,1.3vw,1.5rem);
}
.btn:hover{
  cursor: pointer;
  color: var(--Almost-Black);
  transition: color 1s;
}
.btn-register{
  border: 1px solid var(--Medium-Gray);
}
.btn-register,
.btn-learnmore{
  border-radius: 1.5rem;
  padding: clamp(1rem,1.2vw,1.5rem) clamp(1.5rem,1.6vw,2rem);
}
.btn-register:hover{
  border-color: var(--Almost-Black);
  transition: border-color 1s;
}
.overlay{
  position: absolute;
  top: 0;
  right:-100%;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 1s 600ms;
  cursor: pointer;
}
.show{
  right: 0;
}
.close-menu,.open-menu{
  width: clamp(3rem,3vw,3.5rem);
}
.box,.container,.menu-links,.links,.dropdown{
  flex-direction: column;
}
.container{
  width: clamp(30rem,90%,120rem);
  margin: 0 auto; 
  gap: clamp(5rem,8.5vw,15rem);
  text-align: center;
}
.btn-learnmore{
  color: var(--Almost-White);
  background-color: var(--Almost-Black);
  display: inline-block;
  width: inherit;
  margin-bottom: clamp(5rem,9vw,12rem);
  border: 1px solid var(--Almost-Black);
}
.btn-learnmore:hover{
  cursor: pointer;
  background-color: #fff;
  color: var(--Almost-Black);
  transition: all 800ms;
}
.icon{
  justify-content: space-between;
  align-items: center;
}
.icon img{
  width: clamp(7rem,7.5vw,8rem);
}
@media (min-width:850px) {
  .menu{
    display: none;
  }

  .box{
    position: relative;
    padding: 0;
    background-color:transparent;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    width: 100%;
    height: inherit;

    transition: none;

  }
  .dropdown{
    position: relative;
  }
  .links{
    position: absolute;
    top: 3rem;
    left: 0;
    background-color: #fff; 
    width: clamp(15rem,16vw,18rem);
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius:1rem;
    padding-bottom: 3rem !important;
  }
  .links-1{
    left: -8rem;
  }
  .menu-links{
    margin: 0;
    margin-left: clamp(4rem,7vw,8rem);
    align-items: center;
  }
  .btn{
    display: inline-block;
    width: inherit;

  }
  .btn-login{
    padding: 0;
    padding-right: clamp(1rem,1.5vw,2rem);
  }
  .box,.menu-links{
    flex-direction: row;
  }
  .img-desktop{
    display: block;
  }
  .img-mobile,.overlay{
    display: none;
  }
  .container{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  .main-img,
  .main-content{
    flex: 1;
  }
  p{
    width: 90%;
  }
}





